<div class="post-comments">
    
    <% @comments.each do |comment| %>
        <div class="row">
            <hr>
                <p><%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>

		          <% if user_signed_in? %>
                  <% if current_user.moderator || current_user.admin? %>
                  <h6> <strong>comentario a revisar:</strong> <%= comment.body %></h6>
                  <%= form_tag("/posts/#{@post.id}/comments/#{comment.id}", method: "put") do %>
                  <%= check_box_tag(:reviewed) %>
		  			  <%= submit_tag("Review") %>
                        <% end %>

	  				<%= link_to 'Destroy', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    	           <% end %>
                   <%end%>
                    <% if comment.reviewed? %>
                        <p>Comment: <%= comment.body %></p>
                    <% end %>
                
        </div>
                <% end %>    
</div>

<%= will_paginate @comments %>