<p id="notice"><%= notice %></p>


  <%= image_tag(@post.image_url, class:"img-responsive")%>
<h6> <%= @post.date %></h6>
<p> <%= @post.title %></p>
<p> <%= @post.body %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
